﻿@model WebApplication1.Areas.Admin.Models.SliderModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.htm">Dashboard</a></li>
        <li>UI Elements</li>
        <li class="active">Tables</li>
    </ol>

    <h1>Yeni Slider Ekle</h1>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group hidden-xs">
                <a href='#' class="btn btn-default dropdown-toggle" data-toggle='dropdown'><i class="fa fa-cloud-download"></i><span class="hidden-sm"> Export as  </span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Text File (*.txt)</a></li>
                    <li><a href="#">Excel File (*.xlsx)</a></li>
                    <li><a href="#">PDF File (*.pdf)</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default"><i class="fa fa-cog"></i></a>
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
				<div class="col-sm-12">
				  <div class="panel panel-primary">
              <div class="panel-heading">
                  <h4>Form Layout</h4>
              </div>
                      @using (Html.BeginForm("AddSlider", "Slider", FormMethod.Post, new { @class = "form-horizontal", enctype="multipart/form-data"}))
                      {
                        <div class="panel-body">
                          <h3>Slide Ekle</h3>
                          <br>
                          <div class="form-group">
                              @Html.LabelFor(m=>m.BaslangicTarih, new {@class ="col-sm-3 control-label" })
                              <div class="col-sm-3">
                                  @Html.TextBoxFor(m => m.BaslangicTarih, new { @class = "form-control ",placeholder = "Baslangıç Tarihi (AA/GG/YY)" })
                              </div>             
                              <div class="col-sm-3">
                                  <p class="help-block">Your help text!</p>
                              </div>
                          </div>
                          <div class="form-group">
                              @Html.LabelFor(m => m.BitisTarih, new { @class = "col-sm-3 control-label" })
                              <div class="col-sm-3">
                                  @Html.TextBoxFor(m => m.BitisTarih, new { @class = "form-control", placeholder = "Bitiş Tarihi (AA/GG/YY)" })
                              </div>
                              <div class="col-sm-3">
                                  <p class="help-block">Your help text!</p>
                              </div>
                          </div>
                          <div class="form-group">
                            @Html.LabelFor(m => m.Resim, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-3">
                                @Html.TextBoxFor(m => m.Resim, new { @class = "form-control", placeholder = "Resim Yolu", type = "file" })
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">Your help text!</p>
                            </div>
                          </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <div class="btn-toolbar">
                                        <button class="btn-primary btn">Submit</button>
                                        <button class="btn-default btn">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      }
				      
				  </div>
				</div>
			</div>


    
</div>
@section pluginscss
    {

    <link rel='stylesheet' type='text/css' href='assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />
}
@section jsplugins
{
    @*<script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/daterangepicker.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-daterangepicker/moment.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.resize.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/charts-flot/jquery.flot.orderBars.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/pulsate/jQuery.pulsate.min.js'></script>*@
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script> 
}
@section scripts
    {
    <script type="text/javascript">
        $(".datepicker").datepicker({
            format: 'mm.dd.yyyy'
        });

    </script>
    }