﻿@model WebApplication1.Slider

@{
    ViewBag.Title = "Slider Fotoğrafı Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Model.ID id'li fotoğrafı sil</h2>
<p>Silmek istediğinize emin misiniz ? </p>
<br />
@Html.ActionLink("Sil","DeleteConfirm")
<br />
@Html.ActionLink("Vazgeç", "Index")