﻿@model IEnumerable<WebApplication1.Konular>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">@WebApplication1.Resources.lang.Gundem</div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="blog-list-details">
                    <h5 class="blog-list-title">@item.KonuAdi</h5>
                    <p class="blog-list-meta small-text"><span>İçeriklerden önizleme... (Veritabanından alınacak.)</span></p>
                </div>
            }
            
        </div>
        <div class="panel-footer text-center">
            <button type="button" class="btn btn-primary">Tümünü görüntüle.</button>
        </div>
    </div>
</div>