﻿@model IEnumerable<Slider>
@{
    Layout = null;
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Slider -->
    <div class="carousel-inner" role="listbox">
        @{bool kontrol = true;
         foreach (var item in Model)
         {
             if (kontrol == true)
             {
                 kontrol = false;
                 <div class="item active">
                     <img src="@item.ResimYolu" alt="" class="" height="500" width="1050" />
                 </div>
             }
             else
             {
                 <div class="item">
                     <img src="@item.ResimYolu" alt="" class="" height="500" width="1050" />
                 </div>
             }

         }
        }

    </div>

    <!-- Sağ ve sol kontrolleri -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>