﻿@model IEnumerable<WebApplication1.Konular>
@{
    ViewBag.Title = "Basliklar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Başlıklar</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <h4 class="title">@item.KonuAdi      (@item.OlusturulmaTarihi) </h4>
        <div class="twelve columns">
            <hr>
        </div>
    }

</div>
