﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sakarya Üniversitesi<br />
    Bilgisayar ve Bilişim Bilimleri Fakültesi<br />
    <abbr title="Phone">T:</abbr>
    535.5555.5555
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">Destek@bilgibilgisay.com</a>
</address>