﻿@model WebApplication1.Models.HomeModel
@{
    ViewBag.Title = "Gundem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gundem</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <h4 class="title">@item.KonuAdi</h4> <br />
        <div class="twelve columns">
            <hr>
        </div>
    }
    
</div>
