﻿@model WebApplication1.Models.HomeModel
@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="jumbotron">
    @{Html.RenderAction("_Slider", "Home");}

</div>
<div class="twelve columns">
    <hr>
</div>

<div class="row">
    @Html.Partial("_Gundem", Model.Konular)
    @Html.Partial("_GununBegenilenleri", Model.Konular)
    @Html.Partial("_SonYorumlar", Model.Konular)
</div>
<div class="twelve columns">
    <hr>
</div>

